@{
    ViewData["Title"] = "About";
}

<
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Made by <strong>@ViewData["creator"] </strong ></p>

<address>
    <strong> GitHub: <a href="https://github.com/joonesgarcia"> github.com/joonesgarcia </a></strong> <br/>
    <strong> LinkedIn: <a href="https://www.linkedin.com/in/jo%C3%A3o-garcia-768740140"> linkedin.com/joão-garcia </a></strong>

</address>


