<h1><strong>@ViewData["Creator"] </strong></h1>
<h4>@ViewData["Description"]</h4>


<address>
    <abbr title="Whatsapp">Contact: </abbr>
    (12) 98183-6470
</address>

<address>
    <strong> GitHub: <a href="https://github.com/joonesgarcia"> github.com/joonesgarcia </a></strong> <br />
    <strong> LinkedIn: <a href="https://www.linkedin.com/in/jo%C3%A3o-garcia-768740140"> linkedin.com/joão-garcia </a></strong>
</address>