@model WebExample.Models.Person;
@{
    ViewData["Title"] = "Edit infos above";
}

<h1> Edit Person </h1>
<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Return" class="btn btn-danger" onclick="history.back()" />
            </div>
        </form>
    </div>




</div>


