@model WebExample.Models.Segment;
@{
    ViewData["Title"] = "Insert infos above";
}

<h1> New Segment </h1>
<h4>@ViewData["Title"]</h4>

<hr />
 <div class="row">
     <div class="col-md4">
         <form asp-action="Insert">
             <div class="form-group">
                 <label asp-for="Name" class="control-label"></label>
                 <input asp-for="Name" class="form-control" />
             </div>
             <div class="form-group">
                 <input type="submit" value="Insert" class="btn btn-success" />
             </div>
         </form>
     </div>




 </div>
