@model WebExample.Models.ViewModel.DropFormViewModel;
@{
    ViewData["Title"] = "Insert infos above";
}


<h1> New Spend </h1>
<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md4">
        <form asp-action="Insert">
            <div class="form-group">
                <label asp-for="Spend.SegmentId" class="control-label"></label>
                <select asp-for="Spend.SegmentId" asp-items="@(new SelectList(Model.Segments,"Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Spend.Name" class="control-label"></label>
                <input asp-for="Spend.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Spend.Date" class="control-label"></label>
                <input asp-for="Spend.Date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Spend.PersonId" class="control-label"></label>
                <select asp-for="Spend.PersonId" asp-items="@(new SelectList(Model.Persons,"Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Spend.Amount" class="control-label"></label>
                <input asp-for="Spend.Amount" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Spend.Status" class="control-label">Select spend status</label>
                <!--select asp-for="Spend.Status" 
                        asp-items="Html.GetEnumSelectList<>()"></!--select->
                
                    
                    <!--option value="0">Pending</!--option>
                <option value="1">Paid</option>
                <option value="2">Cancelled</option>
                </select>
                <!-- ~AsHtml.EnumDropDownListFor(model => model.Status, "Select Status"); 
                <!--select asp-for=" Spend.PersonId" asp-items="(new SelectList(Model.Status.ToList()," Id", "Name" ))" class="form-control" -->
            </div>
            <div class="form-group">
                <input type="submit" value="Insert" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
